*
{
  margin:0;
  padding:0;
}

img{
  height:auto;
  width: auto;
}


.content {
  padding-left: 8px; /* Menambahkan jarak dari tepi kanan */
  padding-right: 5px;  /* Menambahkan jarak dari tepi kiri untuk keselarasan */
  max-width: 1000px; /* Membatasi lebar konten agar tidak terlalu panjang */
  margin: 0 auto; /* Agar elemen berada di tengah halaman */
}

.map {padding-left: 8px; /* Menambahkan jarak dari tepi kanan */
  padding-right: 5px;  /* Menambahkan jarak dari tepi kiri untuk keselarasan */
  max-width: 1000px; /* Membatasi lebar konten agar tidak terlalu panjang */
  margin: 0 auto; /* Agar elemen berada di tengah halaman */}