*
{
  margin:0;
  padding:0;
}

img{
  height:auto;
  width: auto;
}


.content {
  padding-left: 8px; /* Menambahkan jarak dari tepi kanan */
  padding-right: 5px;  /* Menambahkan jarak dari tepi kiri untuk keselarasan */
  max-width: 1000px; /* Membatasi lebar konten agar tidak terlalu panjang */
  margin: 0 auto; /* Agar elemen berada di tengah halaman */
}

.map {padding-left: 8px; /* Menambahkan jarak dari tepi kanan */
  padding-right: 10px;  /* Menambahkan jarak dari tepi kiri untuk keselarasan */
  max-width: 1000px; /* Membatasi lebar konten agar tidak terlalu panjang */
  margin: 0 auto; /* Agar elemen berada di tengah halaman */}


  .card-img-top {
    object-fit: cover;
    max-height: 80px; /* Batasi tinggi gambar */
    width: 100%; /* Menyesuaikan lebar gambar */
  }

  
  .row {
    width: 80%; /* Atur lebar kontainer menjadi 80% dari lebar parent */
    margin: 0 auto; /* Pusatkan kontainer */
  }

  .col {
    padding: 10px; /* Mengurangi padding kolom */
  }

  .card {
    max-width: 200px; /* Membatasi lebar maksimum setiap card */
    margin: 0 auto; /* Pusatkan setiap card di dalam kolom */
  }

  .card-img-top {
    object-fit: cover;
    max-height: 200px; /* Atur tinggi gambar */
    width: 100%; /* Gambar mengikuti lebar kontainer */
  }

 

   .card {
    max-width: 200px; /* Membatasi lebar maksimum setiap card */
    margin: 0 auto; /* Pusatkan setiap card di dalam kolom */
  }

  .box {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
    
}

.box-img-top {
    width: 100%;
    object-fit: cover;
}
.box-body {
    flex-grow: 1;
    padding: 10px;
}
.box-footer {
    padding: 5px 10px;
    background-color: #f8f9fa;
    text-align: center;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

